# Core functionality - changes here should be rare!
/src/app.py                   @aniketgpt
/src/backend/database.py      @aniketgpt
/src/backend/routers/auth.py  @aniketgpt

# The frontend will need refactored soon to be more object oriented.
/src/static/   @aniketgpt
